.note__list{
  padding-top: 100px;
  .note__list__container{
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(
		auto-fill,
                    minmax(400px, 1fr)
	);
    @extend %ots;
  }
}